<h1>Add a new book</h1>

<form action="/books/bookadded" method="POST">
  <label>Book name:</label>
  <input type="text" name="name" required>

  <label>Price:</label>
  <input type="text" name="price" required>

  <button type="submit">Add book</button>
</form>

<a href="/">Back to menu</a>
